body {
	background-color: #002649;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: Lato;
}

.well {
    border: solid;
    border-color: red;
    white-space: nowrap;
    font-family: Lato;
}

#row1 {
    padding: 30px;
    font-size: 30px;
    margin-top: 35px;
    
}

#row2 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

#row3 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

#row4 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

a {
    color: #002649;
}


