@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,800);

body {
	background-color: #2C3E50;
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: Raleway, Helvetica, Sans-Serif;
}

.well {
    border: solid;
    border-color: #F1C40F;
    white-space: nowrap;
    font-family: Raleway, Helvetica, Sans-Serif;
}

#row1 {
    padding: 30px;
    font-size: 30px;
    margin-top: 35px;
    
}

#row2 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

#row3 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

#row4 {
    padding: 30px;
    font-size: 30px;
    margin-top: 45px;
}

a {
    color: #002649;
}


