body {
	background-color: #002649;
}

#selectOption {
    padding: 20px;
    font-size: 30px;
    margin-top: 35px;
    
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    color: white;
    font-family: helvetica;
}

a {
    color: #002649;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 10px;
}
